* text=auto

*.sketch binary
*.ipa binary
*.gz binary
*.jpg binary
*.7z binary
*.orig binary
*.zip binary
*.zxp binary
*.swp binary
*.psd binary
*.ase binary
*.png binary
*.a binary
*.idx binary
*.aco binary
*.eps binary
*.pdf binary
*.caf binary
*.pack binary
*.ai text
*.lock text
*.xcscheme text
*.sample text
*.modulemap text
*.xcworkspacedata text
*.txt text
*.xml text
*.xib text
*.pbxproj text
*.py text
*.json text
*.plist text
*.pch text
*.html text
*.stackdump text
*.m text
*.js text
*.jsx text
*.svg text
*.strings text
*.sh text
*.h text
*.aia text
*..jpg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
