<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>GGIIFF</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GGIIFF</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1762248227339858</string>
				<string>wx063ab48ce4a0152b</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.stells.giff</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>giff</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>13</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>4de4dac2f8e69777783b1df21877e32171c4d237</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1762248227339858</string>
	<key>FacebookDisplayName</key>
	<string>GGIIFF</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>whatsapp</string>
		<string>line</string>
		<string>kik-share</string>
		<string>instagram</string>
		<string>fb</string>
		<string>twitter</string>
		<string>weixin</string>
		<string>tumblr</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>apple.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>elie.camera</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>github.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>githubusercontent.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>postfoc.us</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>tumblr.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Used to capture images.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>NSLocationWhenInUseUsageDescription</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to save photos.</string>
	<key>STAppMarketingTitle</key>
	<string>STAppMarketingTitle</string>
	<key>STRatePeriod</key>
	<dict>
		<key>daysUntilPrompt</key>
		<string>3</string>
		<key>usesUntilPrompt</key>
		<string>5</string>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>STShortcutItemTypeCaptureAsFullRange</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>UIApplicationShortcutItemTitle.STShortcutItemTypeCaptureAsFullRange</string>
			<key>UIApplicationShortcutItemType</key>
			<string>STShortcutItemTypeCaptureAsFullRange</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>STShortcutItemTypeCaptureAsMultiPoint</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>UIApplicationShortcutItemTitle.STShortcutItemTypeCaptureAsMultiPoint</string>
			<key>UIApplicationShortcutItemType</key>
			<string>STShortcutItemTypeCaptureAsMultiPoint</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>STShortcutItemTypeEditLastPhoto</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>UIApplicationShortcutItemTitle.STShortcutItemTypeEditLastPhoto</string>
			<key>UIApplicationShortcutItemType</key>
			<string>STShortcutItemTypeEditLastPhoto</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>STShortcutItemTypeOpenAlbum</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>UIApplicationShortcutItemTitle.STShortcutItemTypeOpenAlbum</string>
			<key>UIApplicationShortcutItemType</key>
			<string>STShortcutItemTypeOpenAlbum</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
